useDynLib(sgnesR)
#setOldClass("igraph")
exportClasses("igraph")
exportClasses("rsgns.data")
exportClasses("rsgns.param")
#exportClasses("rsgns.reactions")
export(rsgns)	
export(rsgns.rn)	
export(plot.sgnesR)	
export(getreactions)
export(getrndf)
export(setmolprop)
#importFrom( utils, capture.output )

