useDynLib(sgnesR,.registration=TRUE)
#setOldClass("igraph")
exportClasses("igraph")
exportClasses("rsgns.data")
exportClasses("rsgns.param")
#exportClasses("rsgns.reactions")
#export(rsgns)	
export(rsgns.rn)	
export(plot.sgnesR)	
export(getreactions)
export(getrndf)
export(setmolprop)
exportPattern("^[^\\.]")
import(igraph)
importFrom("graphics", "boxplot", "lines", "plot")
importFrom("igraph","decompose","spectrum")
#importFrom("methods", "new")
import(graphics)
import(grDevices)
import(stats)
import(utils)
importFrom("graphics", "plot")
importFrom("utils", "read.table", "write.table")
#importFrom( utils, capture.output )

